body,
input {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
}

.qbcalc {
  background: #fff;
  border: 1px solid #ccc;
  margin: 40px auto;
  position: relative;
  width: 1024px;
  height: 626px;
}

.qbcalc h1 {
  color: #333;
  font-size: 40px; /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 1; /* Approximation due to font substitution */
}

div.column1 {
  display: inline-block;
  width: 25%;
  float: left;
  border: 2px solid red;
}

div.column2 {
  display: inline-block;
  width: 75%;
  clear: right;
  border: 2px solid red;
}