body,
input {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
}

.qbcalc {
  background: #fff;
  border: 1px solid #ccc;
  margin: 40px auto;
  position: relative;
  width: 1024px;
  height: 626px;
  padding: 30px;
}

.qbcalc h1 {
  color: #333;
  font-size: 40px; /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 1; /* Approximation due to font substitution */
  margin-top: 0;
}

div.column1 {
  display: inline-block;
  width: 22%;
  float: left;
  /*border: 2px solid red;*/
}

div.column2 {
  display: inline-block;
  width: 72%;
  clear: right;
  /*border: 2px solid red;*/
}

.column2 h2 {
  padding-top: 0;
  margin-top: 0;
}

.column3, .column4 {
  height: 50px;
  border-radius: 6px;
  display: inline-block;
}

.column2 {
  margin-left: 60px;
}

.column3 {
  border: 2px solid #a2ca07;
  width: 35%;
  float: left;
  margin-right: 44px;
}

.column4 {
  border: 2px solid #ddd;
  width: 35%;
  clear: right;
}

.column4 td {
  color: gray;
}

.image-container {
  border: 2px solid #ddd;
  border-radius: 6px;
  margin-top: 10px;
}

.image-container img {
  position: relative;
  padding-left: 37px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.column3 table, .column4 table {
  text-align: center;
  vertical-align: middle;
  line-height: 44px;    
}

div.positive-income {
  background-color: #a2ca07;
  border-radius: 6px;
  padding-top: 11px;
  padding-bottom: 11px;
  position: relative;
  top: -10px;
}

div.positive-income p {
  color: white;
  text-align: center;
  margin: 0;
}

div.positive-income p.value {
  font-size: 2em;
}

.next {
  background-color: #a2ca07;
  border-radius: 3px;
  padding-top: 9px;
  padding-bottom: 9px;
  color: white;
  position: relative;
  top: 275px;
/*  padding-left: 48px;
  padding-right: 48px;*/
  font-weight: bold;
  border: none;
  width: 200px;
}

div.column1 tr.underline {
  border-bottom: 1px solid #ddd;
}

div.column1 td, div.column1 th {
  padding: 2px;
}

/*styles for input fields*/
input {
  padding: 6px;
  border-radius: 6px;
  margin-right: 40px;
  border: 2px solid #ccc;
  width: 260px;
  line-height: 2;
}

.input:focus {
    outline: none !important;
    border:2px solid #a2ca07;
}