body,
input {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
}

/*progress styles*/
.progress {
  height: 71px;
  padding-top: 10px;
  /*border: 2px solid red;*/
}

div.one {
  border: 3px solid #ddd;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: inline-block;
  /*margin-right: 156px;*/
  position: relative;
  vertical-align: middle;
}

div.line, div.line2 {
  width: 8%;                   /*changed pixels to percent*/
  height: 5px;
  background-color: #ddd;
  display: inline-block;
  margin-left: -5px;
  margin-right: -5px;
  position: relative;
}

div.green {
  background-color: #a2ca07;
}

div.one.green.gr2 {
  border: 3px solid #a2ca07;
}

div.one p {
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: -12px;
  font-weight: bold;
  color: #666;
}

div.one p.green {
  color: #fff;
}


div.progress div:last-of-type {
  margin-right: 0;
}

.qbcalc {
  background: #fff;
  border: 2px solid #ddd;
  margin: 40px auto;
  position: relative;
  width: 1024px;
  height: 626px;
  padding: 30px;
  border-radius: 6px;
}

.qbcalc h1 {
  color: #333;
  font-size: 40px; /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 1; /* Approximation due to font substitution */
  margin-top: 0;
}

div.column1 {
  display: inline-block;
  width: 22%;
  float: left;
  /*border: 2px solid red;*/
  position: relative;
  top: 7px;
}

div.column2 {
  display: inline-block;
  width: 67%;
  clear: right;
  /*border: 2px solid red;*/
}

.column2 h2 {
  padding-top: 0;
  margin-top: 0;
  color: #333;
}

.column2 {
  margin-left: 68px;  /*originally 90px before seeing mobile safari issue*/
}


.image-container {
  border: 2px solid #ddd;
  border-radius: 6px;
  margin-top: 10px;
}

.image-container img {
  position: relative;
  padding-left: 37px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.column3 table, .column4 table {
  text-align: center;
  vertical-align: middle;
  line-height: 44px;    
}

div.positive-income {
  background-color: #a2ca07;
  border-radius: 6px;
  padding-top: 11px;
  padding-bottom: 11px;
  position: relative;
  top: -10px;
}

div.positive-income p {
  color: white;
  text-align: center;
  margin: 0;
}

div.positive-income p.value {
  font-size: 2em;
}

.next {
  background-color: #a2ca07;
  border-radius: 3px;
  padding-top: 9px;
  padding-bottom: 9px;
  color: white;
  position: relative;
  top: 249px;
  font-weight: bold;
  border: none;
  width: 168px;
}

table {
  position: relative;
  left: 6px;
}

div.column1 tr.underline {
  border-bottom: 1px solid #ddd;
}

div.column1 td, div.column1 th {
  color: #6c6f70;
  font-size: 15px;
  line-height: 1;
  text-align: left;
  padding: 5px 0;
}

div.column1 th {
  color: #333;
}
div.column1 td.total, div.column1 th.total {
  text-align: right;
}
.square {
  float: left;
  margin-right: 5px;
  width: 13px;
  height: 13px;
}
.housing {
  background-color:  #f9c500;
}
.transportation {
  background-color:  #00a8bc;
}
.educational {
  background-color:  #9de031;
}
.personal {
  background-color:  #ff00b9;
}
.savings {
  background-color:  #ea8800;
}

/*styles for input fields*/
input {
  border-radius: 6px;
  border: 2px solid #ccc;
  width: 295px;   /*was 300px before Alex found Safari mobile issue*/
  height: 47px;
  position: relative;
  font-weight: bold;
  color: #777;
  margin-top: 13px;
  padding-right: 9px;
}

input[type="text"] {
  text-align: right;
}

p.salary, p.other {
  position: absolute;
  z-index: 100;
  font-weight: bold;
}

p.salary {
  margin-left: 12px;
  margin-top: 28px;
}

p.other {
  margin-left: 378px;
  margin-top: 28px;
}

.left-input {
  margin-right: 50px;
}

input:focus {
    outline: none !important;
    border:2px solid #a2ca07;
    border-radius: 6px;
    color: #333;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 700px) {       /*to fix Safari issue: iPhone*/
  input {
    width: 245px;
  }
}